DEPLOYER_PUBLIC_KEY=""
DEPLOYER_PRIVATE_KEY=""
RPC_URL="https://rpc-mainnet.monadinfra.com/rpc/9f5xA4ArEMkkjTX1l9GI8QToNmgErpOV"

SIGNER_PRIVATE_KEY=""
SIGNER_PUBLIC_KEY=""

TESTNET_RPC="https://evocative-proportionate-glitter.monad-testnet.quiknode.pro/fb316c7c0e66342c42543ea804a0dddc076a2e16/"